@page "/"

<PageTitle>Interview Challenge</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<h2>Dear Interview Candidate...</h2>
<h3>
    This application has a limited number of available requests provided through the SignalR resource service that backs it.
    If this service becomes unresponsive or stops processing requests, please email your recruiter to notify them of the issue.
    We will check the service logs to determine when the service went offline and adjust the challenge due date / time accordingly.
</h3>